<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #img1 {
        height: 250px;
        width: 250px;
        float: left;
        margin-right: 5px;
      }
      #img2 {
        height: 300px;
        width: 300px;
        float: right;
      }
      #belowDiv {
        clear: both;
      }
    </style>
  </head>
  <body>
    <h1>Float</h1>
    <p>
      <img
        id="img1"
        src="https://cdn.britannica.com/45/5645-050-B9EC0205/head-treasure-flower-disk-flowers-inflorescence-ray.jpg"
      />
      <img
        id="img2"
        src="https://cdn.britannica.com/45/5645-050-B9EC0205/head-treasure-flower-disk-flowers-inflorescence-ray.jpg"
      />
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, optio!
      Quod laboriosam, corporis neque dolorem quidem nostrum ad delectus ducimus
      cumque laudantium quis necessitatibus porro perspiciatis corrupti, culpa
      quae voluptate!
    </p>
    <!-- <div > -->
    <p id="belowDiv">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur
      consequatur dicta modi laborum perferendis, facere quisquam incidunt
      aliquam esse aut veritatis accusantium fugiat alias unde, dolores eius,
      dolore facilis perspiciatis!
    </p>
    <!-- </div> -->
  </body>
</html>